.basket{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:1em;
    padding-right:1em;


}

@media screen and (max-width: 400px) {
    .basket{
        padding-left:.3em;
        padding-right:.3em;
    
    
    }
    
}