.main{
    border-radius: 10px;
    background-color: #fff;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: .5em;
    padding:1em;
}

@media screen and (max-width: 870px) {

    .main{
        margin-left: 2em;
        margin-right: 2em;
    }
    



    
}


@media screen and (max-width: 450px) {
    

    .main{
        margin-left: .5em;
        margin-right: .5em;
    }

    
}

@media screen and (max-width: 350px) {
    

    .main{
        padding-top: 0em;
    }

    
}